$svg-common 
	background-repeat no-repeat
	background-image url(public\images\svg-sprite.svg)

.svg-icon
	background-position 0 0
	@extend $svg-common

.svg-icon-dims
	width 100px
	height 99.997px

.svg-icon - Cópia
	background-position 100% 0
	@extend $svg-common

.svg-icon - Cópia-dims
	width 100px
	height 99.997px

