{
  "env": {
    "amd": false,
    "applescript": false,
    "browser": false,
    "commonjs": false,
    "embertest": false,
    "jasmine": false,
    "jest": false,
    "jquery": false,
    "meteor": false,
    "mocha": true,
    "mongo": false,
    "nashorn": false,
    "phantomjs": false,
    "prototypejs": false,
    "protractor": false,
    "qunit": false,
    "serviceworker": false,
    "shelljs": false,
    "webextensions": false,
    "worker": false
  },

  "globals": {},

  "extends": "standard"
}
