{
  // http://eslint.org/docs/rules/

  "ecmaFeatures": {
    "arrowFunctions": true,                    // enable arrow functions
    "binaryLiterals": false,                    // enable binary literals
    "blockBindings": false,                     // enable let and const (aka block bindings)
    "classes": true,                           // enable classes
    "defaultParams": false,                     // enable default function parameters
    "destructuring": false,                     // enable destructuring
    "forOf": false,                             // enable for-of loops
    "generators": false,                        // enable generators
    "modules": false,                           // enable modules and global strict mode
    "objectLiteralComputedProperties": false,   // enable computed object literal property names
    "objectLiteralDuplicateProperties": false,  // enable duplicate object literal properties in strict mode
    "objectLiteralShorthandMethods": false,     // enable object literal shorthand methods
    "objectLiteralShorthandProperties": false,  // enable object literal shorthand properties
    "octalLiterals": false,                     // enable octal literals
    "regexUFlag": false,                        // enable the regular expression u flag
    "regexYFlag": false,                        // enable the regular expression y flag
    "restParams": false,                        // enable the rest parameters
    "spread": false,                            // enable the spread operator
    "superInFunctions": false,                  // enable super references inside of functions
    "templateStrings": false,                   // enable template strings
    "unicodeCodePointEscapes": false,           // enable code point escapes
    "globalReturn": false,                      // allow return statements in the global scope
    "jsx": false                                // enable JSX
  },

  "env": {
    "amd": false,             // defines require() and define() as global variables as per the amd spec
    "applescript": false,     // AppleScript global variables.
    "browser": true,          // browser global variables
    "commonjs": false,         // CommonJS global variables and CommonJS scoping
                              // (use this for browser-only code that uses Browserify/WebPack).
    "embertest": false,       // Ember test helper globals.
    "es6": true,             // enable all ECMAScript 6 features except for modules.
    "jasmine": false,         // adds all of the Jasmine testing global variables for version 1.3 and 2.0
    "jest": false,            // Jest global variables.
    "jquery": true,           // jquery global variables
    "meteor": false,          // Meteor global variables.
    "mocha": false,           // adds all of the Mocha testing global variables
    "mongo": false,           // MongoDB global variables.
    "nashorn": false,         // Java 8 Nashorn global variables.
    "node": false,            // Node.js global variables and Node.js-specific rules
    "phantomjs": false,       // phantomjs global variables
    "prototypejs": false,     // Prototype.js global variables.
    "protractor": false,      // Protractor global variables.
    "qunit": false,           // QUnit global variables.
    "serviceworker": false,   // Service Worker global variables.
    "shelljs": false,         // shelljs global variables
    "webextensions": false,   // WebExtensions globals.
    "worker": false,          // web workers global variables.
  },

  "globals": {
    // additional predefined global variables
  },

  "plugins": [
    // e.g. "react" (must run `npm install eslint-plugin-react` first)
  ],

  "rules": {
    ////////// Possible Errors //////////

    "no-cond-assign": "error",                       // disallow assignment operators in conditional expressions
    "no-console": "error",                           // disallow the use of console
    "no-constant-condition": "error",                // disallow constant expressions in conditions
    "no-control-regex": "off",                       // disallow control characters in regular expressions
    "no-debugger": "warn",                           // disallow the use of debugger
    "no-dupe-args": "error",                         // disallow duplicate arguments in function definitions
    "no-dupe-keys": "error",                         // disallow duplicate keys in object literals
    "no-duplicate-case": "error",                    // disallow duplicate case labels
    "no-empty-character-class": "error",             // disallow empty character classes in regular expressions
    "no-empty": "error",                             // disallow empty block statements
    "no-ex-assign": "error",                         // disallow reassigning exceptions in catch clauses
    "no-extra-boolean-cast": "error",                // disallow unnecessary boolean casts
    "no-extra-parens": "off",                        // disallow unnecessary parentheses
    "no-extra-semi": "error",                        // disallow unnecessary semicolons
    "no-func-assign": "error",                       // disallow reassigning function declarations
    "no-inner-declarations": ["error", "functions"], // disallow variable or function declarations in nested blocks
    "no-invalid-regexp": "error",                    // disallow invalid regular expression strings in RegExp constructors
    "no-irregular-whitespace": "error",              // disallow irregular whitespace outside of strings and comments
    "no-obj-calls": "error",                         // disallow calling global object properties as functions
    "no-prototype-builtins": "error",                // disallow calling some Object.prototype methods directly on objects
    "no-regex-spaces": "error",                      // disallow multiple spaces in regular expressions
    "no-sparse-arrays": "error",                     // disallow sparse arrays
    "no-template-curly-in-string": "error"           // disallow template literal placeholder syntax in regular strings
    "no-unexpected-multiline": "off",                // disallow confusing multiline expressions
    "no-unreachable": "error",                       // disallow unreachable code after return, throw, continue, and break statements
    "no-unsafe-finally": "error"                     // disallow control flow statements in finally blocks
    "no-unsafe-negation": "error",                   // disallow negating the left operand of relational operators
    "use-isnan": "error",                            // require calls to isNaN() when checking for NaN
    "valid-jsdoc": "off",                            // enforce valid JSDoc comments
    "valid-typeof": "error",                         // enforce comparing typeof expressions against valid strings


    ////////// Best Practices //////////

    "accessor-pairs": "off",                             // enforce getter and setter pairs in objects
    "array-callback-return": "error",                    // enforce return statements in callbacks of array methods
    "block-scoped-var": "off",                           // enforce the use of variables within the scope they are defined
    "class-methods-use-this": "error",                   // enforce that class methods utilize this
    "complexity": ["off", 11],                           // enforce a maximum cyclomatic complexity allowed in a program
    "consistent-return": "off",                          // require return statements to either always or never specify values
    "curly": ["error", "all"],                           // enforce consistent brace style for all control statements
    "default-case": "off",                               // require default cases in switch statements
    "dot-location": "off",                               // enforce consistent newlines before and after dots
    "dot-notation": ["warn", { "allowKeywords": true }], // enforce dot notation whenever possible
    "eqeqeq": "error",                                   // require the use of === and !==
    "guard-for-in": "error",                             // require for-in loops to include an if statement
    "no-alert": "off",                                   // disallow the use of alert, confirm, and prompt
    "no-caller": "error",                                // disallow the use of arguments.caller or arguments.callee
    "no-case-declarations": "off",                       // disallow lexical declarations in case clauses
    "no-div-regex": "off",                               // disallow division operators explicitly at the beginning of regular expressions
    "no-else-return": "off",                             // disallow else blocks after return statements in if statements
    "no-empty-function": "warn",                         // disallow empty functions
    "no-empty-pattern": "eror",                          // disallow empty destructuring patterns
    "no-eq-null": "error",                               // disallow null comparisons without type-checking operators
    "no-eval": "error",                                  // disallow the use of eval()
    "no-extend-native": "off",                           // disallow extending native types
    "no-extra-bind": "off",                              // disallow unnecessary calls to .bind()
    "no-extra-label": "error",                           // disallow unnecessary labels
    "no-fallthrough": "error",                           // disallow fallthrough of case statements
    "no-floating-decimal": "off",                        // disallow leading or trailing decimal points in numeric literals
    "no-global-assign": "error",                         // disallow assignments to native objects or read-only global variables
    "no-implicit-coercion": "error",                     // disallow shorthand type conversions
    "no-implicit-globals": "off",                        // disallow variable and function declarations in the global scope
    "no-implied-eval": "off",                            // disallow the use of eval()-like methods
    "no-iterator": "error",                              // disallow usage of __iterator__ property
    "no-labels": "off",                                  // disallow use of labeled statements
    "no-lone-blocks": "off",                             // disallow unnecessary nested blocks
    "no-loop-func": "error",                             // disallow creation of functions within loops
    "no-multi-spaces": "warn",                           // disallow use of multiple spaces
    "no-multi-str": "off",                               // disallow use of multiline strings
    "no-new-func": "warn",                               // disallow use of new operator for Function object
    "no-new-wrappers": "off",                            // disallows creating new instances of String, Number, and Boolean
    "no-new": "error",                                   // disallow use of new operator when not part of the assignment or comparison
    "no-octal-escape": "off",                            // disallow use of octal escape sequences in string literals, such as var foo = "Copyright \251";
    "no-octal": "error",                                 // disallow use of octal literals
    "no-param-reassign": "off",                          // disallow reassignment of function parameters (off by default)
    "no-proto": "error",                                 // disallow usage of __proto__ property
    "no-redeclare": "error",                             // disallow declaring the same variable more than once
    "no-return-assign": "off",                           // disallow use of assignment in return statement
    "no-script-url": "error",                            // disallow use of javascript: urls
    "no-self-compare": "off",                            // disallow comparisons where both sides are exactly the same (off by default)
    "no-sequences": "off",                               // disallow use of comma operator
    "no-throw-literal": "off",                           // restrict what can be thrown as an exception (off by default)
    "no-unused-expressions": "off",                      // disallow usage of expressions in statement position
    "no-void": "off",                                    // disallow use of void operator (off by default)
    "no-warning-comments": ["off", { "terms": ["todo", "fixme", "xxx"], "location": "start" }],  // disallow usage of configurable warning terms in comments, e.g. TODO or FIXME (off by default)
    "no-with": "off",                                    // disallow use of the with statement
    "radix": "off",                                      // require use of the second argument for parseInt() (off by default)
    "vars-on-top": "off",                                // requires to declare all vars on top of their containing scope (off by default)
    "wrap-iife": "off",                                  // require immediate function invocation to be wrapped in parentheses (off by default)
    "yoda": ["off", "never"],                            // require or disallow Yoda conditions


////////// Strict Mode //////////

    "strict": ["error", "function"],     // require or disallow strict mode directives


    ////////// Variables //////////

    "init-declarations": "off",          // require or disallow initialization in variable declarations
    "no-catch-shadow": "off",            // disallow catch clause parameters from shadowing variables in the outer scope
    "no-delete-var": "off",              // disallow deleting variables
    "no-label-var": "off",               // disallow labels that share a name with a variable
    "no-restricted-globals": "off",      // disallow specified global variables
    "no-shadow": "off",                  // disallow variable declarations from shadowing variables declared in the outer scope
    "no-shadow-restricted-names": "off", // disallow identifiers from shadowing restricted names
    "no-undef": "error",                 // disallow the use of undeclared variables unless mentioned in /*global */ comments
    "no-undef-init": "off",              // disallow initializing variables to undefined
    "no-undefined": "off",               // disallow the use of undefined as an identifier
    "no-unused-vars": "error",           // disallow unused variables
    "no-use-before-define": "off",       // disallow the use of variables before they are defined


    ////////// Node.js and CommonJS //////////

    "callback-return": "off",            // require return statements after callbacks
    "global-require": "off",             // require require() calls to be placed at top-level module scope
    "handle-callback-err": "off",        // require error handling in callbacks
    "no-mixed-requires": ["off", false], // disallow require calls to be mixed with regular variable declarations
    "no-new-require": "off",             // disallow new operators with calls to require
    "no-path-concat": "off",             // disallow string concatenation with __dirname and __filename
    "no-process-env": "off",             // disallow the use of process.env
    "no-process-exit": "off",            // disallow the use of process.exit()
    "no-restricted-modules": "off",      // disallow specified modules when loaded by require
    "no-sync": "off",                    // disallow synchronous methods


    ////////// Stylistic Issues //////////

    "array-bracket-spacing": ["warn", "never"],       // enforce spacing inside array brackets (off by default)
    "brace-style": ["error", "1tbs"],                 // enforce one true brace style (off by default)
    "comma-dangle": ["error", "never"],             // disallow trailing commas in object literals
    "camelcase": "warn",                   // require camel case names
    "comma-spacing": ["warn", { "before": false, "after": true }],               // enforce spacing before and after comma
    "comma-style": ["error", "last"],                 // enforce one true comma style (off by default)
    "computed-property-spacing": ["warn", "never"],   // require or disallow padding inside computed properties (off by default)
    "consistent-this": ["warn", "context"],             // enforces consistent naming when capturing the current execution context (off by default)
    "eol-last": "warn",                    // enforce newline at the end of file, with no multiple empty lines
    "func-names": "off",                  // require function expressions to have a name (off by default)
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],                  // enforces use of function declarations or expressions (off by default)
    "indent": ["error", 4, { "VariableDeclarator": { "var": 1, "let": 1, "const": 2 }, "SwitchCase": 1 }],                      // this option sets a specific tab width for your code (off by default)
    "key-spacing": ["warn", { "beforeColon": false, "afterColon": true }],                 // enforces spacing between keys and values in object literal properties
    "keyword-spacing": "error", // enforce consistent spacing before and after keywords
    "lines-around-comment": "warn",        // enforces empty lines around comments (off by default)
    "linebreak-style": ["error", "unix"],             // disallow mixed 'LF' and 'CRLF' as linebreaks (off by default)
    "max-depth": ["warn", 4],                                     // specify the maximum depth that blocks can be nested (off by default)
    "max-len": ["off", 80, 4],                                   // specify the maximum length of a line in your program (off by default)
    "max-nested-callbacks": ["warn", 5],        // specify the maximum depth callbacks can be nested (off by default)
    "max-params": ["off", 3],                                    // limits the number of parameters that can be used in the function declaration. (off by default)
    "new-cap": ["error", { "capIsNew": false }],                     // require a capital letter for constructors
    "new-parens": "error",                  // disallow the omission of parentheses when invoking a constructor with no arguments
    "max-statements": ["off", 10],                               // specify the maximum number of statement allowed in a function (off by default)
    "newline-after-var": "off",           // allow/disallow an empty newline after var statement (off by default)
    "no-array-constructor": "warn",        // disallow use of the Array constructor
    "no-continue": "warn",                 // disallow use of the continue statement (off by default)
    "no-inline-comments": "warn",          // disallow comments inline after code (off by default)
    "no-lonely-if": "error",                // disallow if as the only statement in an else block (off by default)
    "no-mixed-spaces-and-tabs": ["error", false],    // disallow mixed spaces and tabs for indentation
    "no-multiple-empty-lines": ["warn", {"max": 3, "maxEOF": 1}],     // disallow multiple empty lines (off by default)
    "no-nested-ternary": "error",           // disallow nested ternary expressions (off by default)
    "no-new-object": "warn",               // disallow use of the Object constructor
    "func-call-spacing": ["error", "never"],              // disallow spaces between the function name and the opening parenthesis that calls it
    "no-bitwise": "error",                                         // disallow use of bitwise operators (off by default)
    "no-plusplus": ["error", { allowForLoopAfterthoughts: true }],  // disallow use of unary operators, ++ and -- (off by default)
    "no-ternary": "off",                  // disallow the use of ternary operators (off by default)
    "no-trailing-spaces": "error",          // disallow trailing whitespace at the end of lines
    "no-underscore-dangle": "off",        // disallow dangling underscores in identifiers
    "one-var": ["off", "always"],                     // allow just one var statement per function (off by default)
    "operator-assignment": ["off", "always"],         // require assignment operator shorthand where possible or prohibit it entirely (off by default)
    "operator-linebreak": ["error", "before"],          // enforce operators to be placed before or after line breaks (off by default)
    "padded-blocks": ["warn", "never"],               // enforce padding within blocks (off by default)
    "quote-props": ["warn", "consistent"],                 // require quotes around object literal property names (off by default)
    "quotes": ["error", "single", {"avoidEscape": true, "allowTemplateLiterals": true}],                      // specify whether double or single quotes should be used
    "semi-spacing": ["error", {"before": false, "after": true}],                // enforce spacing before and after semicolons
    "semi": ["error", "always", { "omitLastInOneLineBlock": true}],                        // require or disallow use of semicolons instead of ASI
    "sort-vars": "off",                   // sort variables within the same declaration block (off by default)
    "space-before-blocks": ["error", "always"],         // require or disallow space before blocks (off by default)
    "space-before-function-paren": ["error", "never"], // require or disallow space before function opening parenthesis (off by default)
    "space-in-parens": ["warn", "never"],             // require or disallow spaces inside parentheses (off by default)
    "space-infix-ops": "error",             // require spaces around operators
    "space-unary-ops": ["error", { "words": true, "nonwords": false }],             // require or disallow spaces before/after unary operators (words on by default, nonwords off by default)
    "spaced-comment": ["warn", "always", { "line": { "exceptions": ["="] } }],              // require or disallow a space immediately following the // or /* in a comment (off by default)
    "wrap-regex": "off",                  // require regex literals to be wrapped in parentheses (off by default)


    ////////// ECMAScript 6 //////////

    "constructor-super": "off",      // verify super() callings in constructors (off by default)
    "generator-star-spacing": ["error", {"before": true, "after": true}], // enforce spacing around the * of generator functions (off by default)
    "no-this-before-super": "off",   // disallow to use this/super before super() calling in constructors (off by default)
    "no-var": "off",                 // require let or const instead of var (off by default)
    "object-shorthand": "off",       // require method and property shorthand syntax for object literals (off by default)
    "prefer-const": "off"           // suggest using of const declaration for variables that are never modified after declared (off by default)
  }
}
