// Helpers
@import "<%= folder.styles %>/settings/variables";
@import "<%= folder.styles %>/helpers/helpers";

// Web Fonts
// @import "<%= folder.styles %>/settings/web_fonts";

// Sprites
// @import "<%= folder.styles %>/helpers/bitmap-sprite";
// @import "<%= folder.styles %>/helpers/vector-sprite";

// Vendors
// @import "package_name"; // to import from node_modules

/*! ==================================================================
   Main Styles
   ================================================================== */

/*!
*
* Box model reset
* http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*
*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

i[class^="icon-"] {
  display: block;
}

@import "<%= folder.styles %>/components/index"
