<!doctype html>
<html lang="<%= project.language %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><% if (project.name) { %><%= project.name %><% } %><% if (!project.name) { %>Untitle<% } %></title>
    <meta name="description" content="<%= project.description %>">
    <meta name="keywords" content="<%= project.joinedKeywords %>">
    <meta name="viewport" content="width=device-width, initial-scale=1"><% if (include.humans) { %>
    <link rel="author" href="humans.txt" /><% } %><% if (include.manifest) { %>
    <link rel="manifest" href="/manifest.json"><% } %><% if (use.jqueryLogoDownloadtip) { %>

    <!-- Logos downloadtip -->
    <link rel="icon" type="image/png" href="<%= folder.images.dest %>/logos/logo.png" data-title="Screen Bitmap file (.png)" />
    <link rel="icon" type="image/png" href="<%= folder.images.dest %>/logos/logo-monochrome.png" data-title="Screen Monochrome Bitmap file (.png)" />
    <link rel="icon" type="image/svg+xml" href="<%= folder.images.dest %>/logos/logo.svg" data-title="Screen Vector file (.svg)" />
    <link rel="icon" type="image/svg+xml" href="<%= folder.images.dest %>/logos/logo-monochrome.svg" data-title="Screen Monochrome Vector file (.svg)" />
    <link rel="icon" type="image/eps" href="<%= folder.images.dest %>/logos/logo.eps" data-title="Print file (.eps)" />
    <link rel="icon" type="image/eps" href="<%= folder.images.dest %>/logos/logo-monochrome.eps" data-title="Print Monochrome file (.eps)" /><% } %>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="theme-color" content="<%= project.color %>">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="<%= folder.images.dest %>/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="<% if (project.name) { %><%= project.name %><% } %><% if (!project.name) { %>Untitle<% } %>">
    <link rel="apple-touch-icon" href="<%= folder.images.dest %>/touch/apple-touch-icon.png">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://example.com/page.html">
    <meta property="og:title" content="Content Title">
    <meta property="og:image" content="https://example.com/image.jpg">
    <meta property="og:description" content="Description Here">
    <meta property="og:site_name" content="Site Name">
    <meta property="og:locale" content="en">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@site_account">
    <meta name="twitter:creator" content="@individual_account">
    <meta name="twitter:url" content="https://example.com/page.html">
    <meta name="twitter:title" content="Content Title">
    <meta name="twitter:description" content="Content description less than 200 characters">
    <meta name="twitter:image" content="https://example.com/image.jpg">

    <!-- build:css css/styles.combined.min.css --><% if (use.normalize) { %>
    <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css"><% } %><% if (use.outdatedBrowser) { %>
    <link rel="stylesheet" href="../node_modules/outdatedbrowser/outdatedbrowser/outdatedbrowser.css"><% } %><% if (use.jqueryLogoDownloadtip) { %>
    <link rel="stylesheet" href="../node_modules/jquery-logo-downloadtip/css/jquery-logo-downloadtip.css"><% } %>
    <link rel="stylesheet" href="css/styles.css">
    <!-- endbuild -->
  </head>
  <body>

    <h1>
      <a href="http://www.somewhere.com">
        <img <% if (use.jqueryLogoDownloadtip) { %>id="logo--main"<% } %> src="img/logos/logo.svg" alt="" width="250">
      </a>
    </h1>




    <!-- build:js js/scripts.combined.min.js -->
    <script src="js/bundle.js"></script>
    <!-- endbuild -->
  </body>
</html>
