{{#> header
  title=""
  description="<%= project.description %>"
  keywords="<%= project.joinedKeywords %>"
  lang=""

  fbType="website"
  fbUrl="https://example.com/page.html"
  fbTitle="Content Title"
  fbImage="https://example.com/image.jpg"
  fbDescription="Description Here"
  fbSiteName="Site Name"
  fbLocale="en"

  twCard="summary"
  twSite="@site_account"
  twCreator="@individual_account"
  twUrl="https://example.com/page.html"
  twTitle="Content Title"
  twDescription="Content description less than 200 characters"
  twImage="https://example.com/image.jpg"
}}
  <h1>
    <a href="http://www.somewhere.com">
      <img <% if (use.jqueryLogoDownloadtip) { %>id="logo--main" <% } %>src="img/logos/logo.svg" alt="" width="250">
    </a>
  </h1>
{{/header}}
