// Helpers
@import "<%= folder.styles.src %>/settings/_variables"
@import "<%= folder.styles.src %>/helpers/_helpers"

// Web Fonts
// @import "<%= folder.styles.src %>/settings/_web-fonts"

// Sprites
// @import "<%= folder.styles.src %>/helpers/_bitmap-sprite"
// @import "<%= folder.styles.src %>/helpers/_vector-sprite"

// Vendors
// @import "package_name"; // to import from node_modules

/*! ==================================================================
   Main Styles
   ================================================================== */

/*!
*
* Box model reset
* http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*
*/
html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

i[class^="icon-"]
  display: block

@import "<%= folder.styles.src %>/components/_index"
