/*!
*
* Box model reset
* http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*
*/

html
	box-sizing border-box

*, *:before, *:after
	box-sizing inherit

body
	if($debug-vertical-rhythm == true)
		background: url('http://basehold.it/i/' remove-unit($line-height-base, 'px'))

	//body()

h1, h2, h3, h4, h5, h6
	font-weight $header-weight

h1
	h1()

h2
	h2()

h3
	h3()

h4
	h4()

h5
	h5()

h6
	h6()

p
	p()

/*

blockquote
	blockquote()

code
	code()

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select
	inputTextareaSelect()

input[disabled]
	inputDisabled()

::placeholder
	placeholder()

.input-file span,
button:not(:disabled),
input[type="button"],
button:disabled
	basicButton()

.input-file span,
button:not(:disabled),
input[type="button"]
	styleButton()


.input-file:hover span,
button:not(:disabled):hover,
input[type="button"]:hover
	buttonHover()


button:disabled
	disabledButton()*/


// Used to svg sprite
i
	display inline-block