/*! ==================================================================
   Main Styles
   ================================================================== */

//If you will use bootstrap you can remove this imports

// Box model reset
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html
	box-sizing border-box

*, *:before, *:after
	box-sizing inherit


$normalizeWeight
	font-weight normal

body
	body-typography()
	background-color: $bg-color

h1
	h1-typography()
	@extend $normalizeWeight

h2
	h2-typography()
	@extend $normalizeWeight


h3
	h3-typography()
	@extend $normalizeWeight


h4
	h4-typography()
	@extend $normalizeWeight


h5
	h5-typography()
	@extend $normalizeWeight


h6
	h6-typography()
	@extend $normalizeWeight

p
	p-typography()

//======================================//
