// Helpers
@import "helpers/_variables"
@import "helpers/_functions"

// Web Fonts
// @import "helpers/_web-fonts"

// Sprites
// @import "helpers/_bitmap-sprite"
// @import "helpers/_vetor-sprite"


// Vendors
// Jeet, Rupture, etc
// @import "../../bower_components/"

/*! ==================================================================
   Main Styles
   ================================================================== */
@import "components/_typography"
@import "components/_form"
@import "components/_button"
@import "components/_code"
@import "helpers/_placeholders"
@import "helpers/_mixins"
@import "_base"



/*! ==================================================================
   Media Queries
   ================================================================== */

@media print
	@import "media_queries/_print"

/*!
*
* Better Font Smoothing in Chrome & Safari
* http://www.intridea.com/blog/2014/5/8/better-font-smoothing-in-chrome-on-mac-os-x
*
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),\
	only screen and ( min-device-pixel-ratio: 1.25),\
	only screen and ( min-resolution: 200dpi),\
	only screen and ( min-resolution: 1.25dppx)

	body
		-webkit-font-smoothing: subpixel-antialiased