/* Reset by Dani Guerrato - www.popupdesign.com.br */


* {
	background: transparent !important;
	color: #000 !important;
	text-shadow: none !important;
	filter:none !important;
	-ms-filter: none !important;
}

body {
	margin:0;
	padding:0;
	line-height: 1.4em;
	font: 12pt Georgia, "Times New Roman", Times, serif;
	color: #000;
}

@page {
	margin: 1.5cm;
}

.wrap {
	width: 100%;
	margin: 0;
	float: none !important;
}

.no-print, nav, footer, video, audio, object, embed {
	display:none;
}

.print {
	display: block;
}

img {
	max-width: 100%;
}

aside {
	display:block;
	page-break-before: always;
}

h1 {
	font-size: 24pt;
}

h2 {
	font-size: 18pt;
}

h3 {
	font-size: 14pt;
}

p {
	font-size: 12pt;
	widows: 3;
	orphans: 3;
}

a, a:visited {
	text-decoration: underline;
}

a:link:after, a:visited:after {
	content: " (" attr(href) ") ";
}

p a {
	word-wrap: break-word;
}

q:after {
	content: " (" attr(cite) ")";
}

a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
	content: "";
}

.page-break {
	page-break-before: always;
}