    <!-- build:js js/scripts.combined.min.js --><% if (use.outdatedBrowser) { %>
    <script src="../node_modules/outdatedbrowser/outdatedbrowser/outdatedbrowser.js"></script><% } %><% if (use.jquery) { %>
    <script src="../node_modules/jquery/dist/jquery.js"></script><% } %><% if (use.jqueryLogoDownloadtip) { %>
    <script src="../node_modules/jquery-logo-downloadtip/js/jquery-logo-downloadtip.min.js"></script><% } %>
    <script src="js/scripts.js"></script>
    <!-- endbuild -->
  </body>
</html>
