        <!-- build:js js/scripts.combined.min.js -->
        <script src="bower_components/outdated-browser/outdatedbrowser/outdatedbrowser.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/jquery-logo-downloadtip/js/jquery-logo-downloadtip.min.js"></script>
        <script src="js/vendors.js"></script>
        <script src="js/scripts.js"></script>
        <!-- endbuild -->
    </body>
</html>
