@charset "UTF-8"
/*!
	Project Name
	Version: x.x.x
	Author: Name - Site
	Project Home page
	Contact: email
*/

// Helpers
@import "helpers/_variables"
@import "helpers/_mixins"
@import "helpers/_functions"
@import "helpers/_sprite"
@import "helpers/_svg-sprite"

//**** If you will use bootstrap you can remove these imports ********

// Typography
@import "typography/_web-fonts"
@import "typography/_typography"

/*! ==================================================================
   Reset and normalize
   ================================================================== */
@import "dependencies/normalize.css"

/*! ==================================================================
   Grid System
   ================================================================== */
@import "dependencies/_grid"

//********************************************************************

/*! ==================================================================
   Dependencies
   ================================================================== */
@import "dependencies/outdatedbrowser.css"
// @import "dependencies/bootstrap.css"
@import "dependencies/animate.css"

/*! ==================================================================
   Placeholders
   ================================================================== */
@import "helpers/_placeholders"

// Main Styles
@import "_base"


/*! ==================================================================
   Media Queries
   ================================================================== */
// Printers
@media print
	@import "media_queries/_print"

// 480px
@media (max-width: 30em)
	@import "media_queries/_max_480"

// 481px - 768px
@media (min-width: 30.063em) and (max-width: 48em)
	@import "media_queries/_min_481_max_768"

// 769px - 992px
@media (min-width: 48.063em) and (max-width: 62em)
	@import "media_queries/_min_769_max_992"

//Better Font Smoothing in Chrome & Safari
//http://www.intridea.com/blog/2014/5/8/better-font-smoothing-in-chrome-on-mac-os-x
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),\
	only screen and ( min-device-pixel-ratio: 1.25),\
	only screen and ( min-resolution: 200dpi),\
	only screen and ( min-resolution: 1.25dppx)

	body
		-webkit-font-smoothing: subpixel-antialiased
