/*!
	Project Name
	Version: x.x.x
	Author: Name - Site
	Project Home page
	Contact: email
*/

// Helpers
// @import "helpers/variables";
// @import "helpers/mixins";
// @import "helpers/functions";
//If you will use bootstrap you can remove this import
// @import "typography/typography";

@import "dependencies/_outdatedbrowser-1.1.0";
@import "dependencies/_animate";
// @import "dependencies/bootstrap-3.2.0";
// @import "dependencies/jquery.mobile.structure-1.4.4";
// @import "dependencies/jquery-ui.structure-1.11.1";

//If you will use bootstrap you can remove these imports
//============================================================//
/* Web Fonts */
// @import "typography/web-fonts";

@import "dependencies/_normalize-3.0.2";

/* Grid */
@import "dependencies/_semantic.gs-1.2";
//============================================================//

/* Sprite */
@import "_sprite";

/* Main Styles */
// @import "base";

/* Media Queries */
@media print{
	@import "media_queries/_print";
}

//480px
@media (max-width: 30em){
	@import "media_queries/_max_480";
}

// 481px - 768em
@media (min-width: 30.063em) and (max-width: 48em){
	@import "media_queries/_min_481_max_768";
}

// 769px - 992px
@media (min-width: 48.063em) and (max-width: 62em){
	@import "media_queries/_min_769_max_992";
}
