/* EM function */
//Convert pixel units to em units

em($pixels, $context = $font-size-base)
	(floor($pixels/$context, 10))em
/* EM function */
//Convert pixel units to rem units

rem($pixels, $context = $font-size-base)
	(floor($pixels/$context, 3))rem
