/* EM function */
//Convert pixel units to em units

em($pixels, $context = $font-size-base)
	(floor($pixels/$context, 10))em
/* REM function */
//Convert pixel units to rem units

rem($pixels)
	(floor($pixels/$font-size-base, 10))rem
