//Color

$bg-color = #FFF

$primary-color = ""
$secondary-color = ""
$tertiary-color = ""

//Paths
$font-path = "../fonts/"

$image-path = "../img/"

//Typography
$font-family-base = Helvetica, Arial, sans-serif

$font-size-base = 16px

$color-text = #000

$font-size-h1 = 36
$font-size-h2 = 32
$font-size-h3 = 30
$font-size-h4 = 28
$font-size-h5 = 24
$font-size-h6 = 20

$header-weight = bold

//Media queries
// The EMs have it: Proportional Media Queries FTW!
// http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw/
// 7 Habits of Highly Effective Media Queries
//http://bradfrost.com/blog/post/7-habits-of-highly-effective-media-queries/
$small-size = em(480px)
$medium-size = em(768px)
$large-size = em(992px)

//Layout
