//
// Box model reset
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
//

html
	font-size: 100%
	box-sizing: border-box

*, *:before, *:after
	box-sizing: inherit

body
	font: normal normal  #{$base-font-size}/#{em($base-line-height)} $font-family-base
	background-color: $bg-color
	color: $base-text-color
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	font-smoothing: auto
	font-feature-settings: "liga", "kern"

::selection
	background: $selection-bg-color
	color: $selection-color
