@import "compass";
@import "compass/reset";
@import "icons/*.png";
@include all-icons-sprites;


$corFundo: #9a0055;


/* teste */
body{
	background:  image-url("bg.png") 0 0 repeat;
}

#box{
	position: relative;
	width: 200px;
	height: 200px;
	margin:auto;
	background: $corFundo;
	@include border-radius(20px, 20px);
}

h1{
	color: darken($corFundo, 13%);
	font-size: 5em;
}

#seta{
	color: #FFF;
	height: image-height("icons/left_arrow.png");
	width: image-width("icons/right_arrow.png");
	@include icons-sprite(left_arrow);
	text-indent: -9999px;
	cursor: pointer;
	@include transition(all, 1s);

	&:hover{
		@include icons-sprite(right_arrow);
	}
}

@media (max-width: 320px) {
	@import "media_queries/max_320";
}

@media (max-width: 480px) {
	@import "media_queries/max_480";
}

@media (min-width: 481px) and (max-width: 767px) {
	@import "media_queries/min_481_max_767";
}

@media (min-width: 768px) and (max-width: 1000px) {
	@import "media_queries/min_768_max_1000";
}