/**
 * Force overly long spans of text to truncate, e.g.:
 *
 *
 * Where `$truncation-width` is a united measurement.
 */
truncate($truncation-width)

	max-width: $truncation-width
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis