basicButton()
	border none
	border-radius 5px
	display inline-block
	letter-spacing em(.4px)
	overflow hidden
	padding em(5px) em(20px)
	text-align center
	text-decoration none
	text-transform uppercase
	user-select none
	vertical-align middle
	-webkit-tap-highlight-color transparent

styleButton()
	box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
	color #fff
	background-color #3FAA96
	transition .2s ease-out
	cursor pointer

buttonHover()
	background-color #2bbbad
	box-shadow 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)

disabledButton()
	background-color #DFDFDF
	color #9F9F9F
	cursor default