.code
	color lightness(#00FF00, 50%)
	background darken(#333, 30%)
	padding: 0 em($line-height-base / 2)
	rhythm-padding(.5, .5, $font-size-base)
	width: 100%
	display inline-block
	border-radius 6px
	rhythm-margins(1, 1, $font-size-base)