h1, h2, h3, h4, h5, h6
	font-weight $header-weight

h1
	adjust-font-size-to($font-size-h5)
	rhythm-margins(1)

p
	rhythm-margins(1, 1)
	adjust-font-size-to($font-size-base)
	hyphens auto
	// max-width ($font-size-base * 30)

blockquote
	font-style italic
	padding-left em(10px)
	border-left 5px solid lighten(#000, 60%)
	margin 20px 0
