/*
Syntax error: Undefined variable: "$corFundo".
        on line 3 of /Users/tiago.porto/My Projects/gulp-template/src/stylesheets/sass/media_queries/min_768_max_1000.scss

1: /Users/tiago.porto/My Projects/gulp-template/src/stylesheets/sass/media_queries/min_768_max_1000.scss

Backtrace:
/Users/tiago.porto/My Projects/gulp-template/src/stylesheets/sass/media_queries/min_768_max_1000.scss:3
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/script/variable.rb:49:in `_perform'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/script/node.rb:40:in `perform'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:362:in `visit_media'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Library/Ruby/Gems/2.0.0/gems/compass-sourcemaps-0.12.2.sourcemaps.57a186c/lib/compass/compiler.rb:143:in `block (2 levels) in compile'
/Library/Ruby/Gems/2.0.0/gems/compass-sourcemaps-0.12.2.sourcemaps.57a186c/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/2.0.0/gems/compass-sourcemaps-0.12.2.sourcemaps.57a186c/lib/compass/compiler.rb:139:in `block in compile'
/Library/Ruby/Gems/2.0.0/gems/compass-sourcemaps-0.12.2.sourcemaps.57a186c/lib/compass/logger.rb:45:in `red'
/Library/Ruby/Gems/2.0.0/gems/compass-sourcemaps-0.12.2.sourcemaps.57a186c/lib/compass/compiler.rb:138:in `compile'
/Library/Ruby/Gems/2.0.0/gems/compass-sourcemaps-0.12.2.sourcemaps.57a186c/lib/compass/compiler.rb:118:in `compile_if_required'
/Library/Ruby/Gems/2.0.0/gems/compass-sourcemaps-0.12.2.sourcemaps.57a186c/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Library/Ruby/Gems/2.0.0/gems/compass-sourcemaps-0.12.2.sourcemaps.57a186c/lib/compass/compiler.rb:101:in `each'
/Library/Ruby/Gems/2.0.0/gems/compass-sourcemaps-0.12.2.sourcemaps.57a186c/lib/compass/compiler.rb:101:in `block in run'
/Library/Ruby/Gems/2.0.0/gems/compass-sourcemaps-0.12.2.sourcemaps.57a186c/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/2.0.0/gems/compass-sourcemaps-0.12.2.sourcemaps.57a186c/lib/compass/compiler.rb:100:in `run'
/Library/Ruby/Gems/2.0.0/gems/compass-sourcemaps-0.12.2.sourcemaps.57a186c/lib/compass/commands/update_project.rb:45:in `perform'
/Library/Ruby/Gems/2.0.0/gems/compass-sourcemaps-0.12.2.sourcemaps.57a186c/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/2.0.0/gems/compass-sourcemaps-0.12.2.sourcemaps.57a186c/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/2.0.0/gems/compass-sourcemaps-0.12.2.sourcemaps.57a186c/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/2.0.0/gems/compass-sourcemaps-0.12.2.sourcemaps.57a186c/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/2.0.0/gems/compass-sourcemaps-0.12.2.sourcemaps.57a186c/bin/compass:30:in `block in <top (required)>'
/Library/Ruby/Gems/2.0.0/gems/compass-sourcemaps-0.12.2.sourcemaps.57a186c/bin/compass:44:in `call'
/Library/Ruby/Gems/2.0.0/gems/compass-sourcemaps-0.12.2.sourcemaps.57a186c/bin/compass:44:in `<top (required)>'
/usr/bin/compass:23:in `load'
/usr/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$corFundo\".\A         on line 3 of /Users/tiago.porto/My Projects/gulp-template/src/stylesheets/sass/media_queries/min_768_max_1000.scss\A \A 1: /Users/tiago.porto/My Projects/gulp-template/src/stylesheets/sass/media_queries/min_768_max_1000.scss"; }
